prefix: "&6[BoatRacing] "
max-members-per-team: 2
player-actions:
  # Allow non-admin players to perform these actions
  allow-team-create: true
  allow-team-rename: false
  allow-team-color: false
  allow-set-boat: true
  allow-set-number: true
bstats:
  enabled: true
  # Anonymous usage metrics via bStats. Set to false to opt-out.
updates:
  enabled: true
  # Log a WARN in console on startup if out of date
  console-warn: true
  # Notify admins with permission in-game on join
  notify-admins: true
racing:
  laps: 3
  pit-penalty-seconds: 5.0
  registration-seconds: 300
